<h1> Analyze Trades:</h1>

<div>
  <mat-form-field>
    <mat-label>Strategies Created: </mat-label>
    <mat-select [(value)]="strategySelected">
      <mat-option *ngFor="let stratCreated of ss.getCreatedStrategies()" [value]="stratCreated">{{stratCreated.name}}</mat-option>
    </mat-select>
  </mat-form-field>
  &nbsp;&nbsp;&nbsp;&nbsp;
  <mat-form-field>
    <mat-label>View Options </mat-label>
    <mat-select [(value)]="viewSelected">
      <mat-option *ngFor="let viewOption of this.viewOptions" [value]="viewOption">{{this.viewOption}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<br />


<h3> Past Trades:</h3>

<div *ngIf="!(this.strategySelected == null)">
  Strategy SD Hi/Lo: {{this.strategySelected.volMultipleHigh}} / {{this.strategySelected.volMultipleLow}} <br />
  Strategy Profit/Loss Exit: {{this.strategySelected.exitThreshold}} %
</div>

<div *ngIf="!(this.viewOptions == null) && this.viewSelected === 'Graph'">
  <app-analyze-charts [strategySelected]="strategySelected"></app-analyze-charts>
</div>

<div *ngIf="!(this.viewOptions == null) && this.viewSelected === 'Table'">
  <label *ngIf="!(this.strategySelected == null)"> Stock Traded is: {{ this.strategySelected.stock.ticker }}</label>
  <br />
  <label *ngIf="!(this.strategySelected == null)"> Total Profit Made: {{ this.strategySelected.profit | currency :'USD':'symbol':'1.2-2' }}</label>
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">Action</th>
      <th scope="col">Price</th>
      <th scope="col">Amount</th>
    </tr>
    </thead>
    <tbody>
    <ng-container *ngFor="let trade of trades; index as i">
      <tr *ngIf="!(this.strategySelected == null) && (trade.stock.ticker == this.strategySelected.stock.ticker) && (trade.state === 'FILLED')">
        <th scope="row"> {{ trade.tradeType }}</th>
        <td>{{ trade.price }}</td>
        <td>{{ trade.size }}</td>
      </tr>
    </ng-container>
    </tbody>
  </table>
</div>
