<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="#" style="color: #FFFFFF">Citi-Zens</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['create']" style="color: #FFFFFF">Create <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['run']" style="color: #FFFFFF">Run </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['analyze']" style="color: #FFFFFF">Analyze </a>
      </li>
    </ul>
  </div>
</nav>
