<div class="row">
  <div class="col-lg-3">
    <h2> Create Strategy:</h2>
    <div>
      <form #form="ngForm">
        <mat-form-field class="example-container">
          <input matInput (blur)="checkUsedName()" [(ngModel)]="strategyName" placeholder="Enter Strategy Name" name="strategyName" required>
        </mat-form-field>

        <mat-form-field class="example-container">
          <mat-label>Select Ticker: </mat-label>
          <mat-select [(value)]="strategyTicker" (selectionChange)="checkUsedTicker()" required>
            <mat-option *ngFor="let ticker of tickers" [value]="ticker">{{ticker.ticker}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="example-container">
          <mat-label>Select Strategy: </mat-label>
          <mat-select [(value)]="strategyStrategy" required>
            <mat-option *ngFor="let strategy of strategies" [value]="strategy">{{strategy}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="example-container">
          <input matInput [(ngModel)]="strategySize" placeholder="Enter Strategy Size" name="strategySize" min="0">
        </mat-form-field>

        <div *ngIf="!(strategyStrategy == null) && strategyStrategy === 'Bollinger Bands'">
          <mat-form-field class="example-container">
            <input matInput [(ngModel)]="strategysdHi" placeholder="SD - High" name="strategysdHi" min="0.000001">
          </mat-form-field>

          <mat-form-field class="example-container">
            <input matInput [(ngModel)]="strategysdLo" placeholder="SD - Low" name="strategysdLo" min="0.000001">
          </mat-form-field>
        </div>

        <mat-form-field class="example-container">
          <input matInput [(ngModel)]="strategyplStop" placeholder="Enter Profit/Loss Stop %" name="strategyplStop" min="0.000001">
        </mat-form-field>
      </form>
      <button mat-button (click)="createStrategy(); clearForms()" type="submit" class="btn btn-outline-success mr-4" [disabled]="this.form.invalid || this.tickerDisabled || this.nameDisabled"> <span>Save</span> </button>
      <div *ngIf="!(strategyName == null) && this.nameDisabled" class="alert alert-danger" role="alert">
        Name Already Used In Other Strategy!
      </div>
      <div *ngIf="!(strategyTicker == null) && this.tickerDisabled" class="alert alert-danger" role="alert">
        Ticker Already Used In Other Strategy!
      </div>
    </div>
  </div>
  <div class="col-lg-9">
    <h3> Delete Strategy:</h3>
    <mat-form-field class="example-container">
      <mat-label>Strategies Created: </mat-label>
      <mat-select [(value)]="strategyCreated">
        <mat-option *ngFor="let stratCreated of ss.getCreatedStrategies()" [value]="stratCreated">{{stratCreated.name}}</mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-button (click)="deleteStrategy()" type="button" class="btn btn-outline-danger mr-4"> <span>Delete</span> </button>
  </div>
</div>


