<h1> Start / Stop Strategy:</h1>

<div>
    <mat-form-field>
      <mat-label>Strategies Created: </mat-label>
      <mat-select [(value)]="strategySelected">
        <mat-option *ngFor="let stratCreated of ss.getCreatedStrategies()" [value]="stratCreated">{{stratCreated.name}}</mat-option>
      </mat-select>
    </mat-form-field>
</div>

<button (click)="startStrategy()" class="btn btn-outline-success mr-4"> <span>Start</span> </button>
<button (click)="stopStrategy()" class="btn btn-outline-danger mr-4" > <span>Stop</span> </button>

<div>
  <br /> <br /> <br />
  <h3>Running Strategies:</h3>
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">Strategy Name</th>
      <th scope="col">Strategy Type</th>
      <th scope="col">Stock Ticker</th>
    </tr>
    </thead>
    <tbody>
    <ng-container *ngFor="let stratRunning of ss.getCreatedStrategies(); index as i">
      <tr *ngIf="stratRunning.stopped == 0">
        <th scope="row">{{stratRunning.name}}</th>
        <td>{{this.strategies[0]}}</td>
        <td>{{stratRunning.stock.ticker}}</td>
      </tr>
    </ng-container>
    </tbody>
  </table>
</div>
